<!DOCTYPE html>
<html>
  <head>
    <title>failed</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1>Failed</h1>
      <p>Log in failed , Please Log in again</p>
    </div>
  </body>
</html>