<!DOCTYPE html>
<html>
  <head>
    <title>logout</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1>Member</h1>
      <p>Log Out successful</p>
    </div>
  </body>
</html>