<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/stylesheets/index.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>order2</title>
</head>
<body>
    <%- include layout2 %>
    <div class="container">
        <br><br>
        <section id="sectionimg">
            <div class="boximg">
                <h1><font face="verdana" color="white"><b>Download Foodpenguin.</b></font></h1>
                <p><font face="verdana" color="white">why keeps starving...deliver your hot dish from your fav restaureant </font></p>
                just click => <button type="button" class="btn btn-success" id="download">Download</button>
                </div>
        </section>
        <br><br>
            <center><h1>Select your food</h1></center><br>

            <div class="border-img">
                <img src="https://www.chillpainai.com/src/wewakeup/chillwriter/uploads/2017-04-14%2019:21:45_Rock%20Me-21.JPG" alt="rockme" height="400px" width="500px" border="5">
            </div><br>
            <h1>Cheeseburger with fries : 300 Bath</h1><br>

            <div class="border-img">
                <img src="https://tourismthailand.in/wp-content/uploads/2017/01/1.jpg" alt="salad" height="400px" width="500px" border="5">
            </div><br>
            <h1>Spicy papaya salad : 400 Bath</h1><br>

            <div class="border-img">
                <img src="https://d1alt1wkdk73qo.cloudfront.net/images/guide/7f6b9c6c2cef44fe90dd96808f16e55e/640x478_ac.jpg" alt="basil" height="400px" width="500px" border="5">
            </div><br>
            <h1>Thai spicy basil pork with fired egg : 350 Bath</h1><br>

            <div class="border-img">
                <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Phat_Thai_kung_Chang_Khien_street_stall.jpg" alt="rockme" height="400px" width="500px" border="5">
            </div><br>
            <h1>Pad thai with shimp : 400 Bath</h1><br>

    </div>
        <br><br>
        <center><a href="/first/transactions1"><button type="button" class="btn btn-info" id="download">OrderNow</button></a></center>
        
        <section id="section4">
            <div class="box4">
                <h1><b><br>Enjoy your meal.</b></h1>  
            </div>
        </section>
</body>
</html>