<!DOCTYPE html>
<html>
  <head>
    <title>register</title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
  </head>
  <body>
    <%- include layout %>
    <div class="container">
      <h1>Register</h1>
      <p>Register failed , Email is already used.</p>
    </div>
  </body>
</html>